* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --p-color: #000;
}
a {
  text-decoration: none;
}
.header {
  font-family: sans-serif;
  font-size: 20px;
  background-color: white;
  width: 100%;
  padding: 10px 15px;
  box-shadow: 0 0 7px #aaa;
  /* position: fixed; yeh */
}

.header-nav {
  max-width: 1200px;
  margin: auto;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu-icon {
  display: none;
  width: 35px;
  cursor: pointer;
}
.menu-icon svg {
  fill: var(--p-color);
}
.nav-li a::after {
  content: "";
  background: var(--p-color);
  height: 2px;
  position: absolute;
  left: 50%;
  width: 0;
  bottom: -3px;
  transition: 0.3s;
}
.nav-li a:hover::after {
  left: 0;
  width: 100%;
}

.logo-li a::after {
  background: transparent;
}
.logo-li a {
  display: flex;
  align-items: center;
}

.header-nav a {
  color: var(--p-color);
  position: relative;
}

.nav-m {
  display: none;
  margin-top: 8px;
}
@media only screen and (max-width: 768px) {
  .header {
    padding: 8px 0;
  }
  .nav-ul {
    flex-direction: column;
  }
  .nav-li {
    display: none;
    width: 100%;
    justify-content: center;
    border-top: 1px solid gainsboro;
    padding: 10px;
  }
  .logo-li {
    padding: 0 20px;
    border-top: none;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    align-items: right;
  }
  .logo-li.first {
    align-self: s;
  }
  .platform-li {
    margin-top: 10px;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    margin-top: 7px;
  }
}
body {
  background-color: #1a1a1a;
  font-family: Arial;
}
.heading {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  text-align: center;
  /* flex-wrap: nowrap; */
}
h1 {
  /* margin-top: 5vh; */
  font-size: 75px;
  background: -webkit-linear-gradient(left, #234e74, #52c0a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2vh;
  text-align: center;
  color: gainsboro;
  font-size: 24px;
}
.content h5 {
  width: 60%;
}
.developers {
  color: white;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  justify-content: space-around;
}
/* .ishita {
  flex: 1;
}
.dev {
  flex: 1;
}
.priyal {
  flex: 1;
}*/
.dev > img {
  height: 28vh;
  width: 35vh;
  margin-top: 2vh;
}
.ishita > img {
  height: 28vh;
  width: 35vh;
  margin-top: 2vh;
}
.priyal > img {
  height: 28vh;
  width: 35vh;
  margin-top: 2vh;
}

.footer-longevo {
  background: #383636;
}
.footer-logo {
  width: 150px;
  /* filter: drop-shadow(0 0 2px black); */
  border-radius: 5px;
}
.footer-nav-links-container {
  display: flex;
  justify-content: space-between;
  margin-top: -42px;
}

.footer-nav-links {
  font-family: sans-serif;
  font-size: 25px;
  justify-content: space-between;
  font-weight: 500;
  color: white;
  width: 40%;
  text-align: center;
  cursor: pointer;
}

.footer-nav-links ul {
  margin: 2px;
  padding: 20px;
  list-style-type: none;
}

footer a {
  color: #fff;
  text-decoration: none;
}
.footer-social-media-links-container {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin: 20px auto auto;
  position: relative;
  z-index: 2;
}

.footer-social-media-links-container a:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 0.5s;
}
.footer-nav-links a {
  font-size: var(--fontSize-1);
  color: White;
}
.footer-nav-links a:hover {
  background: -webkit-linear-gradient(left, #234e74, #52c0a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.organ {
  height: 20vh;
  width: 20vh;
  border: 3px solid #0e8d6b;
  border-radius: 50%;
}
.organ:hover {
  background: -webkit-linear-gradient(left, #234e74, #52c0a2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition-duration: 0.7s;
  cursor: pointer;
}
.specifications {
  color: white;
  font-family: Arial;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.specifications h4 {
  margin-left: 4vh;
  margin-top: 2vh;
}
.gastroenterology h4 {
  margin-left: 1vh;
}
.cardiology,
.oncology,
.nephrology,
.orthopaedics,
.neurology,
.gastroenterology {
  margin-top: 4vh;
}
