* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --p-color: #000;
}
a {
  text-decoration: none;
}
.header {
  font-family: sans-serif;
  font-size: 20px;
  background-color: white;
  width: 100%;
  padding: 10px 15px;
  box-shadow: 0 0 7px #aaa;
  /* position: fixed; */
}

.header-nav {
  max-width: 1200px;
  margin: auto;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu-icon {
  display: none;
  width: 35px;
  cursor: pointer;
}
.menu-icon svg {
  fill: var(--p-color);
}
.nav-li a::after {
  content: "";
  background: var(--p-color);
  height: 2px;
  position: absolute;
  left: 50%;
  width: 0;
  bottom: -3px;
  transition: 0.3s;
}
.nav-li a:hover::after {
  left: 0;
  width: 100%;
}

.logo-li a::after {
  background: transparent;
}
.logo-li a {
  display: flex;
  align-items: center;
}

.header-nav a {
  color: var(--p-color);
  position: relative;
}

.nav-m {
  display: none;
  margin-top: 8px;
}
@media only screen and (max-width: 768px) {
  .header {
    padding: 8px 0;
  }
  .nav-ul {
    flex-direction: column;
  }
  .nav-li {
    display: none;
    width: 100%;
    justify-content: center;
    border-top: 1px solid gainsboro;
    padding: 10px;
  }
  .logo-li {
    padding: 0 20px;
    border-top: none;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    align-items: right;
  }
  .logo-li.first {
    align-self: s;
  }
  .platform-li {
    margin-top: 10px;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    margin-top: 7px;
  }
}
.footer-longevo {
  background: #383636;
}
.footer-logo {
  width: 150px;
  /* filter: drop-shadow(0 0 2px black); */
  border-radius: 5px;
}
.footer-nav-links-container {
  display: flex;
  justify-content: space-between;
  margin-top: -42px;
}

.footer-nav-links {
  font-family: sans-serif;
  font-size: 25px;
  justify-content: space-between;
  font-weight: 500;
  color: white;
  width: 40%;
  text-align: center;
  cursor: pointer;
}

.footer-nav-links ul {
  margin: 2px;
  padding: 20px;
  list-style-type: none;
}

footer a {
  color: #fff;
  text-decoration: none;
}
.footer-social-media-links-container {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin: 20px auto auto;
  position: relative;
  z-index: 2;
}
.footer-social-media-links-container a:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 0.5s;
}
.footer-nav-links a {
  font-size: var(--fontSize-1);
  color: White;
}
.footer-nav-links a:hover {
  background: -webkit-linear-gradient(left, #234e74, #52c0a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.mySlides {
  display: none;
}
#car {
  vertical-align: middle;
  height: 500px;
  border: 2px solid #555;
  /* border-radius: 25px; */
  border-style: groove;
  /* width: 100px; */
  /* margin-top: 85px; */
}

.slideshow-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  /* background: #f1f1f1; */
  /* padding: 0; */
  /* max-width: 1500px; */
  position: relative;
  /* margin: auto; */
  /* margin-top: 1000px; */
}
.active {
  background-color: #717171;
}
.registration-button-container {
  display: flex;
  justify-content: space-around;
  height: auto;
  background-color: #ddd;
}
/* .exact-button {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  width: 300px;
  height: 70px;
  cursor: pointer;
  border: 5px solid #0e8d6b;
  background-image: linear-gradient(to right, #234e74, #52c0a2);
  color: white;
  /* background-image: linear-gradient(left,);
  background: -webkit-linear-gradient(left, #234e74, #52c0a2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent; */
/* background: -webkit-linear-gradient(left, #234e74, #52c0a2 100%);
  -webkit-background-clip:content-box;
  -webkit-text-fill-color:transparent; */
/* } */
.exact-button {
  border: 3px solid #0e8d6b;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 500;
  border-radius: 8px;
  background-image: linear-gradient(to right, #234e74, #52c0a2);
  color: #ffffff;
  text-align: center;
  padding: 20px;
  width: 280px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.exact-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.exact-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  bottom: 4px;
  right: -20px;
  transition: 0.5s;
}

.exact-button:hover span {
  padding-right: 25px;
}

.exact-button:hover span:after {
  opacity: 1;
  right: 0;
}
.section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-align: center;
}
.section1 img {
  width: 100%;
  height: 80vh;
}
.sec1_title {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; */
  position: absolute;
  top: 6vh;
  left: 2vh;
  width: 40%;
}

.section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-align: center;
}
.section2 img {
  width: 100%;
  height: 80vh;
}
.sec2_title {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; */
  position: absolute;
  top: 6vh;
  right: 2vh;
  width: 40%;
}
.section3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-align: center;
}
.section3 img {
  width: 100%;
  height: 80vh;
}
.sec3_title {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; */
  position: absolute;
  top: 6vh;
  left: 2vh;
  width: 40%;
  color: paleturquoise;
}
.section4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-align: center;
}
.section4 img {
  width: 100%;
  height: 80vh;
}
.sec4_title {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; */
  position: absolute;
  top: 6vh;
  right: 2vh;
  width: 40%;
}
.section5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-align: center;
}

.section5 img {
  width: 100%;
  height: 80vh;
}
.sec5_title {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; */
  position: absolute;
  top: 6vh;
  left: 2vh;
  width: 40%;
}
.section6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-align: center;
}
.sec6_title {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; */
  position: absolute;
  top: 6vh;
  right: 2vh;
  width: 40%;
}
.section6 img {
  width: 100%;
  height: 80vh;
}
